<div class="row">
    <input type="text" class="form-control" placeholder="Search" [(ngModel)]="searchText" />

    <button _ngcontent-roy-c3="" (click)="onAddNewArticle()" class="btn-meeting" type="submit" style="margin-left: 5%; width: 30%">
    <em class="fa fa-plus"> </em> Ajouter Article
  </button>
</div>

<div class="table-responsive oneOrder">
    <table class="table table-striped" aria-label="">
        <thead class="thead-inverse">
            <tr>
                <th>Photo</th>
                <th>Designation</th>
                <th>Categorie</th>
                <th>Prix</th>
                <th>Quantity</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="
            let articleDTO of articleDTOList
                      | filter: searchText
                      | paginate: { itemsPerPage: 15, currentPage: p };
                    let i = index
         
        ">

                <td>

                    <img src="assets/img/{{articleDTO.img}}.jpg" alt="Denim Jeans" height="60" width="90" class="img-circle">

                    <!--   <img height="50" width="50" class="img-circle" alt="" src="{{
              this.crudApi.baseUrl +
                'products/photoProductInContext/' +
                articleDTO.id
            }}" /> -->
                </td>
                <td>{{ articleDTO?.name }}</td>
                <td>{{ articleDTO?.category?.name }}</td>
                <td>{{ articleDTO?.price }}</td>
                <td>{{ articleDTO?.quantity }}</td>
                <td>{{ articleDTO?.description }}</td>

                <td class="text-right">


                    <button class="btn btn-primary btn-sm" [routerLink]="['/produit', articleDTO.id]">
            <i class="fa fa-edit" aria-hidden="true"></i></button
          >&nbsp;

          <button
            class="btn btn-danger btn-sm"
            (click)="confirmDialog(articleDTO.id)"
          >
            <i class="fa fa-trash" aria-hidden="true"></i></button
          >&nbsp;
        </td>
      </tr>
    </tbody>
  </table>

  <div class="pagination">
   <pagination-controls (pageChange)="p = $event"></pagination-controls> 
  </div>
</div>