<h3 class="text-white"><i class="fa fa-angle-right"></i> List des détails des ventes</h3>

<div class="row">

    <input type="text" class="form-control" placeholder="Chercher" [(ngModel)]="searchText" />

</div>&nbsp;&nbsp;

<div class="table-responsive oneOrder">
    <table class="table table-striped">
        <thead class="thead-inverse">
            <tr>
                <th>#</th>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th>Vendeur</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="
            let comDTO of commandeDTOList
                      | filter: searchText
                      | paginate: { itemsPerPage: 15, currentPage: p };
                    let i = index
         
        ">
                <td>{{ comDTO?.id }}</td>
                <td>{{ comDTO?.productName }}</td>
                <td>{{ comDTO?.price }}</td>
                <td>{{ comDTO?.quantity }}</td>
                <td>{{ comDTO?.price * comDTO?.quantity }}</td>
                <td>{{ comDTO?.requestOrder.utilisateur.name}}</td>



            </tr>
        </tbody>
    </table>
    <div class="pagination">
        <pagination-controls (pageChange)="p=$event "></pagination-controls>
    </div>
</div>