<!-- Page Heading -->
<div class="container">
    <h1 class="h3 font-weight-bold text-primary">Graphes</h1>

    <!-- Content Row -->
    <div class="row">
        <div class="col-xl-6 col-lg-6">
            <!-- Area Chart -->
            <div class="card shadow" style="max-width: 800px">
                <div class="card-header">
                    <h2 class="m-0 font-weight-bold text-primary">
                        Chiffre Affaire Vente Par Mois
                    </h2>
                </div>
                <div class="card-body" style="height: 500px">
                    <app-chiff-affaire-parmois></app-chiff-affaire-parmois>
                </div>
            </div>
        </div>

        <div class="col-xl-6 col-lg-6">
            <div class="card shadow" style="max-width: 800px">
                <div class="card-header">
                    <h2 class="m-0 font-weight-bold text-primary">
                        Chiffre Affaire Vente Par Années
                    </h2>
                </div>
                <div class="card-body" style="height: 460px">
                    <app-chiff-affaire-par-annes></app-chiff-affaire-par-annes>
                </div>
            </div>
        </div>
    </div>
</div>