<div class="row">
    <div class="col-md-10 col-md-offset-2">
        <h1>Modifier le Profil</h1>
        <form #addUsernameForm="ngForm" name="form" (ngSubmit)="addUsernameForm.form.valid && onSubmit()">
            <div class="form-group">
                <label>Nom Complet</label>
                <input type="text" class="form-control" [(ngModel)]="formDataProfile.name" name="name" id="name" #name="ngModel" required />
            </div>

            <div class="form-group">
                <label>Nom utilisateur</label>
                <input type="text" class="form-control" [(ngModel)]="formDataProfile.username" name="username" id="username" #username="ngModel" required />
            </div>

            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" [(ngModel)]="formDataProfile.email" name="email" id="email" #email="ngModel" required />
            </div>

            <div class="form-group">
                <label>Ancien Mot mot Password</label>
                <input type="password" class="form-control" [(ngModel)]="formDataProfile.password" name="password" id="password" #password="ngModel" required />
            </div>

            <div class="form-group">
                <label>Confirm Mot de Passe</label>
                <input type="password" class="form-control" [(ngModel)]="formDataProfile.confirmPassword" name="confirmPassword" id="confirmPassword" #confirmPassword="ngModel" required />
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success">
          <em class="fa fa-database"></em> Enregistrer</button
        >&nbsp;
        <button type="button" class="btn btn-danger ml-1">
          <em class="fa fa-close"></em> Fermer
        </button>
            </div>
        </form>
    </div>
</div>